@font-face {
    font-family: 'Lexend';
    src: url(font-lexend/Lexend-VariableFont_wght.ttf);
}

:root{
    --main-dark: #2D3250;
    --secondary-dark:#424769;
    --terciary-dark:#7077A1;
    --main-light:#f7f7f7;
    --player-one: #F6B17A;
    --player-two: #f58fadf7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /*footer support*/
    position: relative;
    min-height: 100%;
    font-size: 22px;
}

body {
    background-color: var(--main-dark);
    color: var(--main-light);
    font-family: 'Lexend';
    margin: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*header*/

h1 {
    padding-top: 16px;
}

/*main*/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
    height: 100%;
    width: 100%;
}

.game-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--secondary-dark);
    width: 350px;
    height: 350px;
}

.cell {
    border: 1px solid var(--main-dark);
    text-align: center;
}

.cell:hover {
    cursor: pointer;
    color: var(--main-light);
}

.points-board {
    display: flex;
    gap: 32px;
    justify-content: space-evenly;
}

p {
    display: inline;
}

button {
    background-color: var(--terciary-dark);
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--secondary-dark);
    padding: 8px 32px;
}

button:hover {
    background-color: var(--main-light);
    color: var(--main-dark);
}

.O {
    color: var(--player-one);
}

.X {
    color: var(--player-two);
}

/*footer*/
footer {
    padding-bottom: 16px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline var(--main-light) 2px;
}

.hidden {
    display: none;
}